*{
    box-sizing: border-box;
}
.primeiro__anuncio{
    background-color: #233032;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.primeiro__anuncio h2 {
    color: white;
    font-size: 30px;
}
.primeiro__Anuncio-textos{
    padding: 20px 0;
}
.botao{
    background-color: #2f86d6;
    border-radius: 10px;
}
.botao_elemento{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    padding:40px;
}


