*{
    margin: 0;
    display: 0;
}
.topo{

    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    position: fixed;
    width: 100%;

}
.topo__logo{
    width: 100px;
    height: 100px;
}
.container__topo-logo{
    display: flex;
}
.container__topo-text{
    margin: 0 20px;
}
.container__topo-text h1{
    font-weight: bold;
}
.container__topo-text span{
    color: #2f86d6;
    font-weight: bold;

}
.topo__lista{
    display: flex;
    
}
.topo__lista-item{
    font-size: 25px;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    margin: 0 3px;
}
.topo__lista-item a {
    text-decoration: none;
    color: black;
}