.topo{
    background-color: rgb(90, 69, 60);
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    justify-content: space-around;
}
.logo{
    width: 150px;
    height: 150px;
}
.topo__lista{
    display: flex;
    margin: 20px;
    text-align: center;
}
.topo__lista-item{
    display: flex;
    padding: 20px;
    margin: 5px;
}
.topo__lista-item a {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(180, 141, 125);
    text-transform: uppercase;
}
