.moon {
  color: orangered;
  font-size: 20px;
}

#europa-text {
  font-size: 10px;
  color: blue;
}

li {
  color: gray;
}











/* li {
  color: green;
}

h1 {
  font-size: 50px;
  border-color: yellow;
  border-width: 3px;
  border-style: dashed;

  border: 2px dashed orange;
}

body {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/593/348/935/4k-falcon-9-rocket-spacex-cape-canaveral-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
   capa, ele vai se ajustar ao tamanho de capa 

} */